@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
    
}


.navbar{
    display: flex;
    height: 67px;
   
}

.navbar li{
    list-style: none;
    margin: 0 12px;

}

.topleft{
    width: 50%;
padding: 1px 0;
}

.topright{
    width: 50%;
    /* height: 50vh; */

}

.section1{
    
    max-height: 100vh;
}



.logo{
    font-size:1.3rem;
}

.doumbleimg{
    width: 289px;
}

.topright gymimg{
    height: 25px;
    width: 466px;
}

.section1 h1{
font-size: 2rem;
color: rgb(0, 17, 255);
/* height:45vh; */


}



.section2 h1{
font-size: 2rem;
text-align: center;
}

.section2
{
    padding: 73px;
    /* padding-left: 63px;
    padding-right: 63px; */
}

.box{
    padding: 8px 0px;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(113, 70, 221);
    text-align: center;
    border-radius: 8px;
}

.box h2{
    font-size: 2rem;
    padding: 12px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box ul{
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3 table  {
    width: 100%;
    border-collapse: collapse;

    margin-bottom: 140px;
    margin-top: 40px;
 }

.section3 table th {
   width: 23vw;
   border-bottom: 2px solid black;
   padding: 15px 0;
}

.section3 table td {
    border-bottom: 2px solid black;

}

.section3 h1{
    font-size: 2rem;
    text-align: center;
    }


    .section3
{
  padding: 73px;
}

.footer{
    padding: 23px;
    text-align: center;
}